{% extends "base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>We are a team of four students, <a href="https://github.com/Nitin1901">Nitin</a>, <a href="https://github.com/Yashi1011">Yasaswini</a>, <a href="https://github.com/roopa-yashaswini">Roopa</a> and <a href="https://github.com/Amruta789">Amruta</a> who just wanted a free platform for all of SCIS to share content
        related to academics. If you have any articles to write in Computer Science, an online course playlist to share, a PDF of class notes,
        or a link to an internship opportunity, if you feel it's anything useful, then share it freely with all in SCIS.
        We wanted to make this forum a place where not just professors or officials make announcements to students, but students can make announcements as well.
        When we had our first ever online semester in 2020, my batch in particular faced a lot of issues when it came to scheduling exams and deadlines
        for assignments. We had subjects that didn't belong to just IMTech, but to MCA as well. A change in dates here would cause
        problems for other class students. So we made this calendar, an event calendar, where the event could be an exam, an assignment deadline, 
        a seminar/webinar, a fest, a holiday, any event that those of SCIS should know about, available to all. A centralised timatable for SCIS, you
        could call it.
    </p>
    <p> 
        We made a chat application as well so that you can have private sharing of information and resources. Mind you that this forum 
        is for academic purposes only, you have plenty of social networking areas for sharing other content. 
    </p>
    <p>
        We also made a feature where you could login with face instead of password when session expires. The face authorisation
        feature is entirely optional, and we assure that your privacy is not at risk. When registering with your face, it is converted
        to a 128-d encoding, and only the encoded file is stored. Your original picture is inaccessible even to the administrators 
        since so far there is no technique to reverse engineer your image from a 128-d encoding. 
    </p>
    <p>This website was made with Flask framework in Python, with Jinja templates for the views.</p>
    <p>
        We envision a lot of scope for this website if you're all willing to work with us. We are striving to add features
        and grow this platform for SCIS. We will even make the corresponding mobile application for this forum.
         One day, we even want to add an online terminal, and an IDE for writing programs in any language. 
        We want to make other platforms where we can write exams or search for educational resources, or have lectures 
        specific to our professors freely available, not just for one batch, but for future batches as well.
    </p>
    <p>
        If you have any bugs to report, or any features you would like us to add, you can always contact us here.
        The repository for this website and it's source code is public on github, feel free to contribute.
    </p>
    <p>
        PS: We have dark mode too.
    </p>
{% endblock content %}