{% extends "base.html" %}
{% block content %}
<h1>Welcome to <i>SCIS Forum</i></h1> 
<div class="content-section">
    <h2>Introduction</h2>
    <hr>
    <p>We wanted to provide you the unsatisfied requirements by moodle:</p>
    <ul>
        <li>Quick session time-outs 😤</li>
        <li>Unattractive CSS 🤒</li>
        <li>No dark mode - <i>Hmm... light attracts bugs and we are allergic to bugs</i> 😨</li>
        <li>No communication between different course students 😢</li>
        <li>Time table clashes 😫</li>
    </ul>
    So we came up with a solution - 
    <p class="font-italic">"...A unique shared platform for our school."</p>
</div>
<div class="content-section">
    <h2>What we included</h2>
    <hr>
    <ul>
        <li>
            Shared time-table for all users 📆
            <ul>
                <li>Read access to students</li>
                <li>Read-write access to faculty</li>
            </ul>
        </li>
        <li>Forum ✍️</li>
        <li>NLP to filter-out unparliamentary words 🤖</li>
        <li>Login with face 🧑</li>
        <li>Dark mode feature - <i>no more bugs</i> 🐞</li>
        <li>Clean UI 🎨</li>
    </ul>
    <p class="font-italic">We hope that we surprised you!</p>
    Let us take you through the security features.
</div>
<div class="content-section">
    <h2>Security features</h2>
    <br>
    <ul>
        <li>Protecting session data ✅</li>
        <li>Protection from URL spoofing ✅</li>
        <li>Protecting file names ✅</li>
        <li>Server time ✅</li>
        <li>Password hashing ✅</li>
        <li>Timed tokens ✅</li>
        <li>Protecting facial data ✅</li>
        <li>Monitoring posts content ✅</li>
    </ul>    
</div>
<div class="content-section">
    We have added a lot of features to our TO-DO and will roll out them soon.
    We appreciate you fo spending time to go through the application.
    We are open to suggestions of ay kind (to suggest, you must login).  
    So finally, our team...
</div>
<div class="content-section">
    <ul>
        <li>
            <h3><a href="https://github.com/Nitin1901">Nitin</a></h3>
            <p class="font-italic">
                Hey, <br> I am a 3rd year IMTech student. 
                I started this project during December 2020. 
                I was looking for some collaborators and I found the perfect ones!
                They helped me through every stage and never gave up despite a huge break when the semester started.
                We're dedicated to giving you the very best of this application, with a focus on: <br>
                    - User experience <br>
                    - SOTA features <br>
                    - Uniqueness
                </ul>
            </p>
        </li>
        <hr>
        <li>
            <h3><a href="https://github.com/Yashi1011">Yasaswini</a></h3>
            <p class="font-italic">
                Hello
            </p>
        </li>
        <hr>
        <li>
            <h3><a href="https://github.com/roopa-yashaswini">Roopa</a></h3>
            <p class="font-italic">
                
            </p>
        </li>
        <hr>
        <li>
            <h3><a href="https://github.com/Amruta789">Amruta</a></h3>
            <p class="font-italic">
                
            </p>
        </li>
    </ul>
</div>
{%endblock %}