{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
{% endblock %}

{% block content %}
<div class="container">
  <div id="calendar"></div>
</div>

<div class="modal fade" id="insert_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Event Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Event title">
            <span id="error_block"></span>
          </div>
          <div class="form-group">
            <label for="start_time">Start Time</label>
            <input type="datetime-local" class="form-control" id="start_time" name="start_time">
          </div>
          <div class="form-group">
            <label for="end_time">End Time</label>
            <input type="datetime-local" class="form-control" id="end_time" name="end_time">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="event_title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <form action="" method="POST">
          <button type="submit" class="btn btn-primary" id="delete">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<!--<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>-->
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
<script>
  $(document).ready(function() {
    var calendar = $('#calendar').fullCalendar({
      editable: true,
      header: {
        left: 'prev,next today',
        center: 'title',
        right:''
      },
      events: [
        {% for row in events %}
          { id : '{{row.id}}', title : '{{row.title}}', start : '{{row.start_time}}', end : '{{row.end_time}}', }, 
        {% endfor %}
      ],
      eventLimit: 3,
      views: {
        month: {
          eventLimit: 3
        }
      },
      selectable: true,
      selectHelper: true,
      select: function(start, end, allDay) {
        $("#insert_modal").modal("show");
        $( "#insert_modal" ).submit(function( e ) {
          e.preventDefault();
          var title = $('#title').val().trim();
          if(!title){
            $('#error_block').html('Enter the Event Name');
          }
          var start_time = $('#start_time').val();
          var end_time = $('#end_time').val();
          start=moment(start_time).format('YYYY-MM-DDTHH:mm:ssZ'); 
          end=moment(end_time).format('YYYY-MM-DDTHH:mm:ssZ'); 
          if(title) {
            $.ajax({
              url: "{{ url_for('calendar.insert_event') }}",
              type: "POST",
              data: {title:title, start:start, end:end},
              success: function(){
                $("#insert_modal").modal("hide");
                calendar.fullCalendar('refetchEvents');
                window.location.replace("{{ url_for('calendar.calendar_view') }}");
              }
            })
          }
        });
      },
      editable: true,
      eventResize: function(event) {
        start = moment(event.start).format('YYYY-MM-DDTHH:mm:ssZ'); 
        end = moment(event.end).format('YYYY-MM-DDTHH:mm:ssZ'); 
        var title = event.title;
        var id = event.id;
        $.ajax({
          url: "{{ url_for('calendar.update_event') }}",
          type: "POST",
          data: {title:title, start:start, end:end, id:id},
          success:function() {
            calendar.fullCalendar('refetchEvents');
          }
        })
      },
      eventDrop: function(event) {
        start = moment(event.start).format('YYYY-MM-DDTHH:mm:ssZ'); 
        end = moment(event.end).format('YYYY-MM-DDTHH:mm:ssZ');
        var title = event.title;
        var id = event.id;  
        $.ajax({
          url: "{{ url_for('calendar.update_event') }}",
          type: "POST",
          data: {title:title, start:start, end:end, id:id},
          success: function() {
            calendar.fullCalendar('refetchEvents');
          }
        });
      },
      eventClick: function(event) {
        $('#event_title').html(event.title);
        $('#delete_modal').modal("show");
        $( "#delete_modal" ).submit(function( e) {
          e.preventDefault();
          var id = event.id;
          $.ajax({
            url: "{{ url_for('calendar.delete_event') }}",
            type: "POST",
            data: {id:id},
            success: function() {
              calendar.fullCalendar('refetchEvents');
              $('#delete_modal').modal("hide");
              window.location.replace("{{ url_for('calendar.calendar_view') }}");
            }
          })
        });
      }
    });
  });
</script>
{% endblock %}




