{% extends "base.html" %}

{% block content %}
<div class="chat row">
    <div class="col-sm-5 chat-user-list">
        <div class="container chat-user-list-heading">
            <span>Users Chart</span>
        </div>
        <div>
            <form action="">
                <input type="text" id="chat_person" placeholder="Search Name" class="form-control">
            </form>
        </div>
        <ul class="list-group">
            {% if(receiver != current_user.username) %}
                <a class="text-link" href="{{ receiver }}">
                    <li class="list-group-item list-group-item-light"> {{receiver}} </li>
                </a>
            {% endif %}
            {% for user in users %}
                {% if user != current_user.username and user != receiver and users.index(user) <= 10 %}
                    <a class="text-link" href="{{ user }}">
                        <li class="list-group-item list-group-item-light"> {{user}} </li>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-7 personal-chat">
            {% if(receiver!=current_user.username) %}
                <div class="container chat-heading">
                    <span>{{receiver}}</span>
                </div>
                <div id="chat-box" style="overflow-y: scroll; height: 350px; padding: 10px 0px 0px 0px;">
                    <div id="chats">
                    </div>
                </div>
                {% from "chat_form.html" import render_field %}
                <div class="m-0">
                    <form method="POST" action="">
                        <div class="form-group input-group mb-0">
                            {{render_field(form.body, class_="form-control chat-text", value="", placeholder="Enter your text...")}}
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-secondary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
    </div>
    <div class="col-xs-1"></div>
</div>
{% endblock content %}

{% block script %}
<script>
    $('#chat_person').keyup(function(){
        let val = $('#chat_person').val();
        let users = [
            {% for user in users %}
                {% if user != current_user.username %}
                    '{{user}}',
                {%endif%}
            {%endfor%}
            ];
        var regex = new RegExp(`^${val}`, 'i');
        let s_html = '';
        let flag=0;
        for(let i=0;i<users.length; i++){
            if(users[i].match(regex) && flag < 10){
                flag++;
                s_html += `<a class="text-link" href="${users[i]}">
                        <li class="list-group-item list-group-item-light"> ${users[i]} </li>
                    </a>`;
            }
        }
        $('.list-group').html(s_html);
    });
</script>
<script>
    function ajax(){
        $.ajax({
            url: '/chats/{{ receiver }}',
            type: 'POST',
            success:function(data){
                document.getElementById('chats').innerHTML = data;
            }
        });
    }
    $(document).ready(function(){
        setInterval(ajax,10);
    });
</script>
{% endblock %}