{% extends "base.html" %}
{% block content %}

<script>
    function ajax(){
        var req = new XMLHttpRequest();
        req.onreadystatechange = function(){
            if(req.readyState == 4 && req.status == 200)
            {
            document.getElementById('chats').innerHTML = req.responseText;
            }
        }
        req.open('POST', '/chats/{{receiver}}', true);
        req.send();
    }
    setInterval(function(){ajax()}, 10);
</script>

<div class="chat row">
    <div class="col-sm-5 chat-user-list">
        <div class="container chat-user-list-heading">
            <span>Users Chart</span>
        </div>
        <ul class="list-group">
            {% for user in users %}
                {% if user.id != current_user.id %}
                    {% if user.id == receiver %}
                        <a class="text-link" href="{{user.username}}">
                            <li class="list-group-item"> {{user.username}} </li>
                        </a>
                    {% else %}
                        <a class="text-link" href="{{user.username}}">
                            <li class="list-group-item"> {{user.username}} </li>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <script>
       ajax();
    </script>
    <div class="col-sm-7 personal-chat">
            {% if(receiver!=current_user.username) %}
                <div class="container chat-heading">
                    <span>{{receiver}}</span>
                </div>
                <div id="chat-box" style="overflow-y: scroll; height: 350px; padding: 10px 0px 0px 0px;">
                    <div id="chats">
                    </div>
                </div>
                {% from "_formhelpers.html" import render_field %}
                <div class="m-0">
                    <form method="POST" action="" class="m-0">
                        <div class="form-group input-group mb-3 m-0 p-0">
                            {{render_field(form.body, class_="form-control chat-text", value="", placeholder="Enter your text...")}}
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-secondary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
    </div>
    <div class="col-xs-1"></div>
</div>
{% endblock content %}