{% extends "base.html" %}
{% block content %}

<script>
    function ajax(){
        var req = new XMLHttpRequest();
        req.onreadystatechange = function(){
            if(req.readyState == 4 && req.status == 200)
            {
            document.getElementById('chats').innerHTML = req.responseText;
            }
        }
        req.open('POST', '/chats/{{receiver}}', true);
        req.send();
    }
    setInterval(function(){ajax()}, 10);
</script>

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-4" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">
        <div style="text-align: center;font-size: 18px;background-color: #ddd;border-radius: 4px;color: #5e5fa4;margin-bottom: 8px;">
            <span>Users Chart</span>
        </div>
        <ul class="list-group">
            {% for user in users %}
                {% if user.id != current_user.id %}
                    <li class="list-group-item">
                        <a href="{{user.username}}"> {{user.username}} </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <script>
       ajax();
    </script>
    <div class="col-xs-6" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">
            {% if(receiver!=current_user.username) %}
                <div style="text-align: center;font-size: 18px; color: #22aa45;background-color: #ddd;border-radius: 4px;">
                    <span>{{receiver}}</span>
                </div>
                <div id="chat-box" style="overflow-y: scroll; height: 350px; padding: 10px 0px 0px 0px;">
                    <div id="chats">
                    </div>
                </div>
                {% from "_formhelpers.html" import render_field %}
                <div>
                    <form method="POST" action="">
                        <div class="form-group">
                            {{render_field(form.body, class_="form-control", value="", placeholder="Enter your text...")}}
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Send</button>
                    </form>
                </div>
            {% endif %}
    </div>
    <div class="col-xs-1"></div>
</div>
{% endblock content %}