{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="col-lg-6 col-sm-12 left">
                <a href="{{ url_for('users.login_password') }}" class="text-link text-center">
                    <div class="card">
                        <img class="card-img-top" src="{{url_for('static', filename='images/password.png')}}"  alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Password Login</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-12 right">
                <a href="{{ url_for('users.login_face') }}" class="text-link text-center">
                    <div class="card">
                        <img class="card-img-top" src="{{url_for('static', filename='images/face.png')}}"  alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Face Login</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}