{% extends "base.html" %}
{% block content %}
<h1 class="mb-3">Posts by <a class="mr-2 link-color article-title" href="{{ url_for('chats.chatting', username=user.username) }}">{{ user.username }}</a></h1>
<h3 class="mb-3">Fetched {{ posts.total }} posts</h3>
{% for post in posts.items %}
<article class="d-lg-flex d-inline-flex content-section" id='{{post.id}}'>
  <div class="flex-shrink-0">
    <img class="rounded-circle article-img"
    src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
  </div>
  <div class="flex-grow-1 ms-3">
    <div class="article-metadata"> 
      <a class="mr-2 link-color" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{
        post.author.username }}</a>
      <div class="d-flex justify-content-end">
        <small class="text-muted">on {{ post.date_posted.strftime('%d-%m-%Y') }}</small>
      </div>
    </div>
    <div class="p-2 text-wrap">
      <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
      <p class="article-content text-break">{{ post.content }}</p>
    </div>
  </div>
</article>
{% endfor %}
<div class="text-center">
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {% if posts.page == page_num %}
  <a class="btn btn-pagination mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{
    page_num }}</a>
  {% else %}
  <a class="btn btn-pagination-outline mb-4"
    href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}

{% block script %}
<script>
  $(document).ready(function () {
    var data = [
      {% for post in posts.items %}
        { id: '{{post.id}}', content: `{{post.content}}`, },
    {% endfor %}];

  var regex = /https?:\/\/[\-A-Za-z0-9+&@#\/%?=~_|$!:,.;]*/g;
  for (var i = 0; i < data.length; i++) {
    if (data[i]['content'].match(regex)) {
      var l = new String(data[i]['content'].match(regex));
      var index = data[i]['content'].search(l);
      var result = data[i]['content'].substr(0, index) + l.link(l) + data[i]['content'].substr(index + l.length + 1);
      $(`#${data[i]['id']} .article-content`).html(result);
    }
  }
  });
</script>
{% endblock %}