[data-theme="dark"] {
  background-color: #000 !important;
  color: #fff;
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h5,
[data-theme="dark"] h6 {
  color: #ffffff;
}

[data-theme="dark"] .dark-heading{
  color: #000;
}

[data-theme="dark"] .bg-steel {
  background-color: #ffcd36;
}

[data-theme="dark"] .site-header .navbar-nav .nav-link {
  color: #000;
}

[data-theme="dark"] .site-header .navbar-nav .nav-link:hover {
  color: #000;
  background-color: #f5d574;
  border-radius: 20px;
}

[data-theme="dark"] .content-section {
  background: #1d1a1a;
  padding: 10px 20px;
  border: 1px solid #4e4c4c;
  border-radius: 3px;
  margin-bottom: 20px;
}

[data-theme="dark"] .list-group-item-light{
  background-color: #1d1a1a;
  color: #ffffff;
  border: 1px solid #4e4c4c;
}

[data-theme="dark"] .article-title {
  color: #ffffff;
}

[data-theme="dark"] a.article-title:hover {
  color: #ffcd36;
}

[data-theme="dark"] .article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #4e4c4c;
}

[data-theme="dark"] .article-metadata a:hover {
  color: #f5f2ca;
  text-decoration: none;
}

[data-theme="dark"] .link-color{
  color: #ffcd36;
}

[data-theme="dark"] .button-outline{
  background-color: #000;
  color: #ffcd36;
  border: 1px solid #ffcd36;
}

[data-theme="dark"] .button-outline:hover, [data-theme="dark"] .button-outline:active{
  color: #000;
  background-color: #ffcd36;
}

[data-theme="dark"] .btn-pagination{
  background-color: #ffcd36;
  color: #000;
}

[data-theme="dark"] .btn-pagination:active{
  background-color: #ffcd36;
  color: #000;
}

[data-theme="dark"] .btn-pagination:hover{
  background-color: #ffcd36;
  color: #000;
}

[data-theme="dark"] .btn-pagination-outline{
  background-color: #000;
  color: #ffcd36;
  border: 1px solid #ffcd36;
}

[data-theme="dark"] .btn-pagination-outline:active{ 
  background-color: #ffcd36;
  color: #000;
}

[data-theme="dark"] .btn-pagination-outline:hover{
  background-color: #ffcd36;
  color: #000;
}

[data-theme="dark"] .date{
  color: #ffcd36;
  font-size: x-large;
  padding: 10px;
}

[data-theme="dark"] .chat{
    background: #1d1a1a;
    padding: 0px;
}

[data-theme="dark"] .chat-user-list{
  background-color: #1d1a1a;
  margin: 0px;
  padding: 0px;
  border: 1px solid #4e4c4c;
}

[data-theme="dark"] .chat-user-list-heading{
  text-align: center;
  background-color: #333030;
  font-size: 18px;
  color: #fff;
  padding: 10px;
}

[data-theme="dark"] .chat-heading{
  text-align: center;
  background-color: #333030;
  font-size: 18px;
  color: #fff;
  margin-bottom: 8px;
  padding: 10px;
}

[data-theme="dark"] .personal-chat{
  background-color: #1d1a1a;
  margin: 0px;
  padding: 0px;
  border: 1px solid #4e4c4c;
}

[data-theme="dark"] .to-text{
  background-color: #ffcd36;
  color: #000;
  margin: 1px 0;
  padding: 6px 12px; 
  border-radius: 8px;
}

[data-theme="dark"] .from-text{
  background-color: #f0857d;
  color: #000;
  margin: 1px 0;
  padding: 6px 12px;
  border-radius: 8px;
}

[data-theme="dark"] .dark-bg{
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #292727;
}

[data-theme="dark"] .dark-modal{
  background: #1d1a1a;
  border: 1px solid #4e4c4c;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #ffffff;
}
