body {
  background: #fafafa;
  color: #333333;
  padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}


.bg-steel {
  background-color: #4ca1df;
}

.site-header .navbar-nav .nav-link {
  color: #e4e4e4;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: #3a8fcc;
  border-radius: 20px;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  max-width: 100%;
}

.article-title {
  white-space: pre-line;
  word-wrap    : break-word;
  overflow-wrap: break-word;
  color: #444444;
}

a.article-title:hover {
  color: #4ca1df;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  word-wrap    : break-word;
  overflow-wrap: break-word;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.text-link:hover{
  color: inherit;
  text-decoration: inherit;
}

.link-color{
  color: #4ca1df;
}

.button-outline{
  background-color: white;
  color: #4ca1df;
  border: 1px solid #4ca1df;
}

.button-outline:hover, .button-outline:active{
  color: white;
  background-color: #4ca1df;
}

.btn-pagination, .btn-pagination:active, .btn-pagination:hover{
  background-color: #4ca1df;
  color: white;
}

.btn-pagination-outline{
  background-color: white;
  color: #4ca1df;
  border: 1px solid #4ca1df;
}

.btn-pagination-outline:active, .btn-pagination-outline:hover{
  background-color: #4ca1df;
  color: white;
}

.left{
  display : flex;
  justify-content : center;
  align-items : center;
  height : 100%;
}

.right{
  display : flex;
  justify-content : center;
  align-items : center;
  height : 100%;
}

@media (max-width: 1200px) { 
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}

textarea {
  height: 500px;
}

.date{
  color: #4ca1df;
  font-size: x-large;
  padding: 10px;
}

.chat{
    background: #ffffff;
    padding: 0px;
}

.chat-user-list{
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  border: 1px solid #bdd7eb;
}

.chat-user-list-heading{
  text-align: center;
  background-color: #bdd7eb;
  font-size: 18px;
  color: #000;
  padding: 10px;
}

.chat-heading{
  text-align: center;
  background-color: #bdd7eb;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
  padding: 10px;
}

.personal-chat{
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  border: 1px solid #bdd7eb;
}

.chat-text{
  height: 50px;
  margin-bottom : 0px;
  padding-bottom: 0px;
}

.chat-box{
  overflow:auto; 
  display:flex; 
  flex-direction:column-reverse;
  /* overflow-y: scroll;  */
  height: 350px; 
  padding: 10px 0px 0px 0px;
}


.chat-box::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.chat-box::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
.chat-box::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
  border-radius: 5px;
}

/* Handle on hover */
.chat-box::-webkit-scrollbar-thumb:hover {
  background: rgb(121, 121, 121); 
}

.to{
  clear: both;
  text-align:left; 
  padding: 1px;
}

.to-text{
  float: right;
  display: block;
  background-color: #4ca1df;
  color: #fff;
  margin: 0px;
  padding: 6px 12px; 
  border-radius: 8px;
  max-width: 70%;
}

.from{
  clear: both;
  text-align:left; 
  padding: 1px;
}

.from-text{
  float: left;
  display: block;
  background-color: #f7ccdd;
  color: #000;
  margin: 1px 0px;
  padding: 6px 12px;
  border-radius: 8px;
  max-width: 70%;
}

.message-type input {
  box-shadow: none;
  border: 0.8px solid #ccc;
}

.message-type input:focus {
  outline-width: 0;
  box-shadow: none;
  border: 0.8px solid #ccc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #ffcd36;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffcd36;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.fc-state-highlight {
  background: #dae9f3 !important;
  color: #000000;
  border-left: 1.75px solid #ffffff  !important;
  border-top: 1px solid #ffffff !important;
}